@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


button{
  outline: 0;
}
h1{
  font-family: "Anton" !important;
}

body {
  font-family: 'Font1', Rubik;
  margin: 0px;
  padding: 0px;
  background-color: #3c4043;
}

h1 {
  font-family: 'Font2', Anton;
}

.scrollbar_gray::-webkit-scrollbar {
  -webkit-appearance: none;
}
.scrollbar_gray::-webkit-scrollbar:vertical{
  width: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px !important;
}
.scrollbar_gray::-webkit-scrollbar:horizontal {
  height: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px !important;
}
.scrollbar_gray::-webkit-scrollbar-thumb {
  background-color: #3B82F6;
  border: 1px solid #3B82F6;
  border-radius: 22px;
  height: 4px;
  cursor: pointer;
}

